# Kaizen Karate ERPNext Deployment Environment
ERPNEXT_VERSION=v16.34.2
ERPNEXT_IMAGE=ghcr.io/hasanshahriar32/erpnext:latest
HTTP_PORT=8085
SITE_NAME=erp.kaizen.local
ADMIN_PASSWORD=grammarpro
DB_PASSWORD=grammarpro
